source/*/obj
source/*/bin
*.chm
*.csproj.user
*.suo
*.csproj-[1-9]*
*.csproj[1-9]*
*~
*.sql
*.swp
*.swo
/source/docs/Help/*.*
artifacts
UpgradeLog*
_UpgradeReport_Files
git.yaml
Gemfile.lock
*mm_cache*
db_dev.rb
log4net.config.xml
web.config
empty.cs
applicationhost.config
start_web_app.bat
web_staging
*.[Dd]otSettings*
*.ncrunch*
_[Rr]e[Ss]harper.*
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.cache
Backup
